# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
#lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# JetBrains
.idea/

# Lightning-Hydra-Template
data/
#logs/
wandb/
.env
.autoenv
src/logs/similarity_metrics/backprop/intrinsic_dims_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_9__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays.pickle
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_1__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_2__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_3__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_4__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_5__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_6__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_7__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_8__epoch_0.npy
src/logs/similarity_metrics/backprop/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop__data_name__test__layer_name__conv_9__epoch_0.npy
src/logs/similarity_metrics/backprop_short/input_rdms.pickle
src/logs/similarity_metrics/backprop_short/input_rdms_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_1__epoch_0.npy
src/logs/similarity_metrics/backprop_short/input_rdms_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_2__epoch_0.npy
src/logs/similarity_metrics/backprop_short/input_rdms_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_3__epoch_0.npy
src/logs/similarity_metrics/backprop_short/input_rdms_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_4__epoch_0.npy
src/logs/similarity_metrics/backprop_short/intrinsic_dims.pickle
src/logs/similarity_metrics/backprop_short/intrinsic_dims_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_1__epoch_0.npy
src/logs/similarity_metrics/backprop_short/intrinsic_dims_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_2__epoch_0.npy
src/logs/similarity_metrics/backprop_short/intrinsic_dims_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_3__epoch_0.npy
src/logs/similarity_metrics/backprop_short/intrinsic_dims_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_4__epoch_0.npy
src/logs/similarity_metrics/backprop_short/outer_prod_triu_arrays.pickle
src/logs/similarity_metrics/backprop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_1__epoch_0.npy
src/logs/similarity_metrics/backprop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_2__epoch_0.npy
src/logs/similarity_metrics/backprop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_3__epoch_0.npy
src/logs/similarity_metrics/backprop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__backprop_short__data_name__test__layer_name__conv_4__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms.pickle
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.4._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.5._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.6._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.7._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/input_rdms_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.8._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims.pickle
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.4._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.5._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.6._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.7._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/intrinsic_dims_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.8._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays.pickle
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.4._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.5._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.6._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.7._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop__data_name__test__layer_name___layers.8._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/input_rdms.pickle
src/logs/similarity_metrics/target_prop_short/input_rdms_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/input_rdms_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/input_rdms_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/input_rdms_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/intrinsic_dims.pickle
src/logs/similarity_metrics/target_prop_short/intrinsic_dims_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/intrinsic_dims_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/intrinsic_dims_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/intrinsic_dims_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/outer_prod_triu_arrays.pickle
src/logs/similarity_metrics/target_prop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.0._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.1._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.2._conv_layer__epoch_0.npy
src/logs/similarity_metrics/target_prop_short/outer_prod_triu_arrays_npy_files/activationkind_model_name__target_prop_short__data_name__test__layer_name___layers.3._conv_layer__epoch_0.npy
